.card {
    margin-top: 20px;
    margin-bottom: 10px;
    color: black;
    height: 600px;
    margin-left: 140px;
    width: 800px;
}

#footer{
    margin-top: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url('dark-blur.png');
    background-size: cover;
    background-repeat: no-repeat;
}


#vertical-navbar {
    margin-top: 20px;
}

#vertical-navbar {
    background-color: #f8f9fa;  
    padding: 20px;
    border-right: 150px solid #f8f9fa;
  }

.nav-item {
    margin-bottom: 15px;
    font-weight: bold;
}

.nav-link {
    color: #343a40;
    font-weight: bold;
    text-decoration: none;
  }

.nav-item:hover {
    background-color: #e9ecef;
    border-radius: 10px;
}

#show-board-card {
    margin-top: 20px;
    margin-bottom: 10px;
    color: black;
    height: 700px;
    margin-left: 10px;
    width: 1200px;
}

#home-h1 {
    font-size: 50px;
    font-weight: bold;
    margin-left: 230px;
    color: #f8f9fa;
}

#boards-h1 {
    font-size: 50px;
    font-weight: bold;
    margin-left: 430px;
    color: #f8f9fa;
}

#state-card {
    margin-left: 8px;
    background-color: #f8f9fa;
}
  
#task-card {
    margin-left: 8px;
    background-color: #f8f9fa
}

#show-state-card {
    margin-left: 20px;
    background-color: #f8f9fa;
    width: 200px;
    margin-right: 5px;
    height: 550px
}
  
#show-task-card {
    margin-left: -1px;
    background-color: #f8f9fa;
    width: 170px;
    margin-right: 5px;
    height: 100px
}