<div class="container mt-5">
   <div class="card" style="background-color: <%= @board.color %>;">
    <div class="card-header">
      <div class="d-flex justify-content-between align-items-center">
        <h5 id="board-title"><%= @board.name %></h5>
      </div>
    </div>
    <div class="card-body">
      <p class="card-text"><%= @board.color %></p>
    </div>
  </div>
</div>