<div class="container" id="createboard-container">
    <div class="card" id="createboard-card">

      <a class="navbar-brand" href="/home" id="createboard-trillo">
        <svg role="presentation" focusable="false" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="45" height="45">
          <path fill="rgb(220,38,38)" fill-rule="evenodd" clip-rule="evenodd" d="M3 5C3 3.89543 3.89543 3 5 3H19C20.1046 3 21 3.89543 21 5V19C21 20.1046 20.1046 21 19 21H5C3.89543 21 3 20.1046 3 19V5ZM5 6C5 5.44772 5.44772 5 6 5H10C10.5523 5 11 5.44772 11 6V16C11 16.5523 10.5523 17 10 17H6C5.44772 17 5 16.5523 5 16V6ZM14 5C13.4477 5 13 5.44772 13 6V12C13 12.5523 13.4477 13 14 13H18C18.5523 13 19 12.5523 19 12V6C19 5.44772 18.5523 5 18 5H14Z"></path>
        </svg>
        <span style="font-weight: bold; font-size: 30px;">Trillo</span>
      </a>

      <%= form_with model: [@board, @state], local: true do |f| %>
        <div class="form-group mb-3">
          <%= f.text_field :name, placeholder: 'Name', class: "form-control", required: true %>
        </div>

        <div class="form-group mb-3">
          <%= f.text_field :position, placeholder: 'Position', class: "form-control", required: true %>
        </div>

        <%= f.submit "Create", class: "btn", id: "createboard-createboard-btn" %>
      <% end %>
    </div>
  </div>