<h1 style="display: flex; align-items: center;">
<svg xmlns="http://www.w3.org/2000/svg" width="32px" height="32px" viewBox="0 0 48 48" fill="white"><path d="M 5.5 9 A 1.50015 1.50015 0 1 0 5.5 12 L 42.5 12 A 1.50015 1.50015 0 1 0 42.5 9 L 5.5 9 z M 5.5 22.5 A 1.50015 1.50015 0 1 0 5.5 25.5 L 42.5 25.5 A 1.50015 1.50015 0 1 0 42.5 22.5 L 5.5 22.5 z M 5.5 36 A 1.50015 1.50015 0 1 0 5.5 39 L 42.5 39 A 1.50015 1.50015 0 1 0 42.5 36 L 5.5 36 z"></path></svg>
<span style="margin-left: 10px;">Table</span>
</h1>

<hr style="width: 44rem; border-width: 2px; color: white">

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Board</th>
      <th scope="col">Creation</th>
      <th scope="col">Show</th>
    </tr>
  </thead>

      <tbody>
        <% Board.all.each_with_index do |board, index| %>
          <tr>
            <th scope="row"><%= index + 1 %></th>
            <td><%= board.name %></td>
            <td><%= board.created_at.strftime('%Y-%m-%d') %></td>
            <td><a href="#" class="card-link"><%= link_to 'Go to', board_path(board), class: 'btn btn-secondary' %></a></td>
          </tr>
        <% end %>
      </tbody>
</table>
