<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Board</th>
      <th scope="col">Creation</th>
      <th scope="col">Show</th>
    </tr>
  </thead>

      <tbody>
        <% Board.all.each_with_index do |board, index| %>
          <tr>
            <th scope="row"><%= index + 1 %></th>
            <td><%= board.name %></td>
            <td><%= board.created_at.strftime('%Y-%m-%d') %></td>
            <td><a href="#" class="card-link"><%= link_to 'Go to', board_path(board), class: 'btn btn-secondary' %></a></td>
          </tr>
        <% end %>
      </tbody>
</table>
